<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.osw.cafelatte">

    <application
        android:name="es.osw.cafelatte.presentation.ui.CoffeeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <activity
            android:name="es.osw.cafelatte.presentation.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="es.osw.cafelatte.presentation.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />

        <activity
            android:name="es.osw.cafelatte.presentation.ui.home.HomeActivity"
            android:screenOrientation="portrait" />

        <!--<meta-data-->
        <!--android:name="com.facebook.sdk.ApplicationId"-->
        <!--android:value="@string/facebook_app_id" />-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="eb4b0c36ef2dc0c3aa1dc1ae5cece3317d38e756"
            tools:replace="android:value" />

    </application>

</manifest>
